body {
    font-family: Arial, sans-serif;
    background-color: #E8D8B9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title h1 {
    margin: 0;
}

.agent-info {
    text-align: right;
}

.navigation {
    background-color: #f4f4f4;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-button
{
	background-color:#919191;
}

.admin-button:hover
{
	background-color:#333;
}

.nav-button:hover {
    background-color: #0056b3;
}

.dashboard {
    display:flex;
    flex-direction: column;
    padding: 20px;
    min-height: 80vh;
    font-family: var(--bs-font-sans-serif);
    font-weight: bold;
}

.dashboard table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-radius : 0.2em !important; /*for rounded borders*/
    overflow: hidden; /*for rounded borders*/
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
}

.dashboard th, .dashboard td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

.dashboard th {
    background-color: rgb(152, 203, 241);
    text-align: left;
}
#dashboardFilter
{
	font-weight: bold;
}
/**/
.chart-container
{
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em;
	border-radius:0.4em;
	color: #FFFFFF;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
}
#guestStatusChart
{
	height:400px !important;
	width:400px !important;
}
/**/
/* createRes start*/
.createRes-container {
    display:flex;
    flex-direction:column;
    padding: 20px;
    min-height: 80vh;
    align-items: center;
    background-color: #E8D8B9;/*#3e8f6b;*/
    font-family: var(--bs-font-sans-serif);
    font-weight: bold;
}
.createRes-card
{
	display: flex;
	justify-content:space-between;
	min-height:60vh;
	min-width:600px;
	background-color: #4A6572;
    border-radius:8px;
    overflow:hidden;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
	padding:10px;
}

.search-container
{
	display: flex;
	justify-content: space-between;
	height:2.7em;
}
.createRes-card-label, .createRes-card-field
{
	display :flex;
	flex-direction: column;
	width:48%;
	height:100%;
	margin-top: 2em;
	white-space: nowrap;
	align-items: flex-start; 
	justify-content: center;
	color: white;
}

.createRes-card-label div {
    padding: 0.8em 0;  
    margin-bottom: 0.0em;
    margin-left: 1em; 
}

.createRes-card-field div {
    padding: 0.4em 0; 
    margin-bottom: 0.55em; 
}
.createRes-card-field div input{
    border-radius: 0.3em;
}

#createGuestBtn {
    height: 40px;
}
/* createRes end */
/*modify res start*/
.modifyRes-master-container
{
	display: flex;
	justify-content: flex-start;
	flex: 0 0 30%; /* Do not grow, do not shrink, fixed width of 30% */
	background-color:  #4A6572;
	font-family: var(--bs-font-sans-serif);
	font-weight: bold;
	
}
.sidebar-nav .nav-link
{
	color: #FFFFFF;
}
.sidebar-nav .nav-link:hover {
    background-color: #166714; /* Optional: change text color on hover for better visibility */
}
.nav-item button.active {
    background-color: #166714;  /* Active color, e.g., blue */
    color: white;  /* Text color when active */
}
.modifyRes-container
{
	flex:1;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-content: center;
	justify-content: center;
	background-color: #E8D8B9;
	min-height: 80vh;
}
.modifyRes-form
{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	min-height: 60vh;
	min-width:600px;
	border-radius:8px;
    overflow:hidden;
	background-color: #4A6572;
	padding:10px;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
.modifyRes-form-response
{
	display: flex;
}
.modifyRes-form-items
{
	display: flex;
	overflow: hidden;
	justify-content:space-between;
	color:white;
}
.modifyRes-form-items-label
{
	display: flex;
	flex-direction: column;
	width: 30%;
	height:100%;
	/*background-color: grey;*/
	align-items: flex-start;
	justify-content: center; 
}
.modifyRes-form-items-field
{
	display: flex;
	flex-direction: column;
	width: 65%;
	height:100%;
	/*background-color: green;*/
	align-items: flex-start; 
	justify-content: center;
}
.modifyRes-form-items-label div {
    padding: 0.8em 0;  
    margin-bottom: 0.0em;
    margin-left: 1em; 
}

.modifyRes-form-items-field div {
    padding: 0.2em 0; 
    margin-bottom: 0.85em; 
    margin-left: 2em; 
}
.modifyRes-form-items-field div input{
    border-radius: 0.2em;
}
.modifyRes-form-buttons
{
	display: flex;
	justify-content: space-between;
}
/* modify res end*/
/**/

/**/
.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* create reservation guest id search   */
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    justify-content: center;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  modal search results   */
.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.results-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


/* */
.roomModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.roomModal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.rsClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.form-select
{
	width:25%;
}
