<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Reservation</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your external CSS -->
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="title">
                <h1>Modify Reservation |   <span th:text="${res.firstName}" id="title-name"></span></h1>
            </div>
            <div class="agent-info">
                <span>Date: <span th:text="${currentDate}">Placeholder Date</span></span><br>
				<div class="dropdown">
					<button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">Agent: <span
							th:text="${agentName}">Placeholder Agent Name</span></button>
					<div class="dropdown-menu">
						<a th:href="@{/portal/logout}" class="dropdown-item">Logout</a>
					</div>	
				</div>
            </div>
        </div>
    </header>

    <!-- Navigation Section -->
    <nav class="navigation">
        <a th:href="@{/portal/home}"><button class="nav-button">Home</button></a>
        <a th:href="@{/portal/create-res}" ><button class="nav-button">Create Reservation</button></a>
        <a th:href="@{/portal/search-res}" ><button class="nav-button">Search Reservation</button></a>
        <!--<a th:href="@{/portal/guest-batch-update}" ><button class="nav-button">Guest Batch Update</button></a>-->
        <a th:href="@{/portal/guest-profile-update}" ><button class="nav-button">Guest Profile Update</button></a>
        <a th:href="@{/portal/room-management}"><button  class="nav-button">Room Management</button></a>
        <a th:href="@{/portal/admin}" th:if="${agentRole.contains('ROLE_ADMIN')}"><button  class="nav-button admin-button">Administration</button></a>
    </nav>

    <!-- Main Content: Modify Reservation Form -->
 <div class="modifyRes-master-container">
 	<div class="sidebar-container">
			<ul class="sidebar-nav nav flex-column p-3">
				<li class="nav-item p-2">
				     <a class="nav-link" id="resdata">
				         <span class="material-icons">event</span>&nbsp;&nbsp;Reservation Data
				     </a>
				</li>
				<li class="nav-item p-2" id="guestData">
				     <button class="nav-link">
				       <span class="material-icons">person</span>&nbsp;&nbsp;Guest Information
				     </button>
				</li>
			</ul>
	</div>   
    <div class="modifyRes-container">
    	<div class="modifyRes-form">
    	   <div class="modifyRes-form-response">
				<div style="color: red;" th:if="${error}">
					<p th:text="${error}"></p>
				</div>

				<!-- Success message display -->
				<div style="color: green; background-color: lime;" th:if="${success}">
					<p th:text="${success}"></p>
				</div>
			</div>
		    <form th:action="@{/portal/modify-res}" th:object="${res}" method="post">
    			<div class="modifyRes-form-items">
		            <div class="modifyRes-form-items-label">
		            	   <div>
		            	   		<label for="ResID">ResID:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="firstName">First Name:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="lastName">Last Name:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="status">Status:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="arriveDate">Arrival Date:</label>
		            	   </div>
		            	    <div>
		            	   		<label for="arriveTime">Arrival Time:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="deptDate">Departure Date:</label>
		            	   </div>
		            	    <div>
		            	   		<label for="deptTime">Departure Time:</label>
		            	   </div>
							<div>
								<label for="ratePlan">Rate Plan:</label>
							</div>
							<div>
		            	   		<label for="roomnum">Room Number:</label>
		            	   </div>
		            	   <div>
		            	   		<label for="guestID">Guest ID:</label>
		            	   </div>
		            </div>
		            <div class="modifyRes-form-items-field">
		            	<div>
		            		<div>
		            			<input type="text" id="resID" th:field="*{resID}" required readonly="readonly" class="disabled">
		                         <button type="button" class="btn btn-outline-secondary" id="searchRes">
		                             <span class="material-icons" style="color:white">search</span>
		                         </button>
		            		</div>
		            		<div>
		            			<input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter First Name">
		            		</div>
		            		<div>
		            			<input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter Last Name">
		            		</div>
		            		<div>
		            			<input type="text" id="status" th:field="*{status}" required disabled="disabled">
		            		</div>
		            		<div>
		            			<input type="date" id="arriveDate" th:field="*{arriveDate}" >
		            		</div>
		            		<div>
		            			<input type="time" id="arriveTime" th:field="*{arriveTime}" >
		            		</div>
		            		<div>
		            			<input type="date" id="deptDate" th:field="*{deptDate}" >
		            		</div>
		            		<div>
		            			<input type="time" id="deptTime" th:field="*{deptTime}" >
		            		</div>
							<div>
								<select id="ratePlan" th:field="*{ratePlan}" required>
									<option value="">Select Rate Plan</option>
									<option th:each="plan : ${ratePlans}"
										th:value="${plan.ratePlan}" th:text="${plan.ratePlan}"></option>
								</select>
							</div>
							<div>
		            			<input type="number" id="roomnum" th:field="*{roomnum}" placeholder="Enter Room Number" >
		            			<div id="roomnumError" style="color: red; display: none;">Room number is required!</div>
		            		</div>
		            		<div>
		            			<input type="text" id="guestID" th:field="*{guestID}" required disabled="disabled">
		            		</div>
		            		
		            	</div>
		            </div>
	        	</div>
		            <div class="modifyRes-form-buttons">
		                        <button type="submit" class="btn btn-success">SAVE</button>
		                        <button type="submit" id="doCheckIn" class="btn btn-warning" th:if="*{status=='RES' or status == 'MOD'}" formaction="/portal/checkin" onclick="doCheckIn">Check-In</button>
		                        <button type="submit" id="doCheckOut" class="btn btn-warning" th:if="*{status=='REG'}" formaction="/portal/checkout" onclick="doCheckOut">Check-Out</button>
		            </div>
		    </form>
        </div>
    </div>
</div>    
	<!-- res search modal  -->
	<div id="resSearchModal" class="modal">
	<div class="modal-content">
	  <span id="close" class="close">&times;</span>
	   <form>
	      <div class="row">
	          <label for="rsResID" class="col-sm-4 col-form-label">ResID</label>
	          <div class="col-sm-8">
	          <input type="text" id="rsResID" class="form-control">
	          </div>
	      </div>
	      <div class="row">
	          <label for="" class="col-sm-4 col-form-label">First Name</label>
	          <div class="col-sm-8">
	          <input type="text" id="firstName" class="form-control">
	          </div>
	      </div>
	      <div class="row">
	          <label for="" class="col-sm-4 col-form-label">Last Name</label>
	          <div class="col-sm-8">
	          <input type="text" id="lastName" class="form-control">
	          </div>
	      </div>
	      <div class="row">
	          <label for="" class="col-sm-4 col-form-label">Status</label>
	          <div class="col-sm-8">
	          <input type="text" id="status" class="form-control" disabled="disabled">
	          </div> 
	      </div>
	      <div class="row">
	          <label for="" class="col-sm-5 col-form-label">Arrival Date</label>
	          <div class="col-sm-7">
	          <input type="date" id="arrivalDate" class="form-control">
	          </div>
	      </div>
	      <div class="row">
	          <label for="" class="col-sm-5 col-form-label">Departure Date</label>
	          <div class="col-sm-7">
	          <input type="date" id="departureDate" class="form-control">
	          </div>
	      </div>
	      <div class="row">
	          <label for="roomNumber" class="col-sm-5 col-form-label">Room Number</label>
	          <div class="col-sm-7">
	          <input type="text" id="roomNumber" class="form-control">
	          </div>
	      </div>
	      <div class="ml-4">
	      		<button type="button" id="searchRes" class="btn btn-success" onclick="fetchResData()">Search</button>
	      </div>
	   </form>
	   <table class="table">
	       <thead>
	            
	               <th>Reservation ID</th>
		            <th>First Name</th>
		            <th>Last Name</th>
		            <th>Status</th>
		            <th>Arrival Date</th>
		            <th>Departure Date</th>
		            <th>Room Number</th>
	            
	       </thead>
	       <tbody id="resInfoBody">
	       
	       </tbody>
	   </table>
	   </div>
	</div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h5>About Us</h5>
					<p>We provide top-notch property management services for your
						hotel and lodging needs.</p>
				</div>
				<div class="col-lg-2 col-md-6">
					<h5>Quick Links</h5>
					<ul class="list-unstyled">
						<li><a href="/terms" class="text-white">Terms of Service</a></li>
						<li><a href="/privacy" class="text-white">Privacy Policy</a></li>
						<li><a href="/contact" class="text-white">Contact Us</a></li>
						<li><a href="/support" class="text-white">Support</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact Information</h5>
					<p>
						Email: <span th:text="${footer.email}"></span>
					</p>
					<p>
						Phone: <span th:text="${footer.phone}"></span>
					</p>
					<p>
						Address: <span th:text="${footer.address}"></span>
					</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Follow Us</h5>
					<a href="#"><img src="/icons/facebook.svg" alt="Facebook"
						width="24"></a> <a href="#"><img src="/icons/twitter.svg"
						alt="Twitter" width="24"></a> <a
						href="https://www.linkedin.com/in/sovon-singha-2b8025313/"><img
						src="/icons/linkedin.svg" alt="LinkedIn" width="24"></a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col text-center">
					<small>&copy; 2024 StayEase PMS. All Rights Reserved.</small>
				</div>
			</div>
		</div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 <script>
     var resSearch = document.getElementById("resSearchModal");
     var searchRes = document.getElementById("searchRes");
     var close = document.getElementById("close");
     var doCheckOut = document.getElementById("doCheckOut");
     
     searchRes.onclick = function()
     {
     	resSearch.style.display="block";
     }
 	 close.onclick=function()
 	 {
 		resSearch.style.display="none";
 	 }
 	 window.onclick = function(event) {
 	    if (event.target == resSearch) {
 	    	resSearch.style.display = "none";
 	    }
 	 }
     async function fetchResData()
     {
    	var rsResID = document.getElementById("rsResID").value;
    	if(rsResID)
   		{
	    	const params = new URLSearchParams({resID: rsResID});
	     	const response = await fetch('/portal/fetchRes?'+params.toString(),{
	     		method: "GET",
	     		headers: {
	     			'Content-Type': 'application/json'
	     		}
	     	});
	   			var reservations = await response.json();
	   			var resInfoBody = document.getElementById("resInfoBody");
	   			resInfoBody.innerHTML="";
	   			reservations.forEach(function(res)
	   					{
	   						var row = document.createElement("tr");
	   						row.addEventListener('click', function() {
	   		                    rowClicked(res);
	   		                });
	   						row.innerHTML="<td>" + res.resID + "</td>" +
	                        "<td>" + res.firstName + "</td>" +
	                        "<td>" + res.lastName + "</td>" +
	                        "<td>" + res.status + "</td>" +
	                        "<td>" + res.arriveDate + "</td>" +
	                        "<td>" + res.deptDate + "</td>" +
	                        "<td>" + res.roomnum + "</td>";
	   			   			resInfoBody.appendChild(row);
	   					});
   		}
     }
     
     function rowClicked(res)
     {
    	 /*document.getElementById("resID").value=res.resID;
    	 document.getElementById("firstName").value=res.firstName;
    	 document.getElementById("lastName").value=res.lastName;
    	 document.getElementById("status").value=res.status;
    	 document.getElementById("arriveDate").value=res.arriveDate;
    	 document.getElementById("arriveTime").value=res.arriveTime;
    	 document.getElementById("deptDate").value=res.deptDate;
    	 document.getElementById("deptTime").value=res.deptTime;
    	 document.getElementById("roomnum").value=res.roomnum;
    	 document.getElementById("guestID").value=res.guestID;
    	 document.getElementById("title-name").innerText=res.firstName; */
    	 if(res.resID)
   		 {
	    	 window.location.href = '/portal/modify-res/resID/'+res.resID;
	    	 resSearch.style.display="none";
   		 }
     }
     
     function doCheckIn()
     {
    	 //alert("checkin");
    	 var roomNumber = document.getElementById("roomnum");
    	 var roomnumError = document.getElementById("roomnumError");
    	 if(roomNumber.value === null || roomNumber.value === "")
   		 {
    		 roomNumber.focus();
    		 event.preventDefault();
    		 roomnumError.style.display = "block"; // Show error message
   		 }
    	 else
   		 {
    		 roomnumError.style.display = "none"; // Hide error message if input is valid
   		 }
     }
     
     var guestData = document.getElementById("guestData");
     guestData.onclick=function(){
    	 var guestID = document.getElementById("guestID").value.trim();
    	 var resID = document.getElementById("resID").value;
    	 if(!guestID)
   		 {
   		 	alert("No data");
   		 }
    	 else
   		 {
   	 		window.location.href="/portal/guest-info/guestID/"+guestID+"/resID/"+resID;
   		 }
     }
     
 </script>
</body>
</html>
